
img {
    width: 300px;
    height: 400px;
}

.picText
{
    display: flex;
    gap: 5em;
    justify-content: center;
}

.picText p 
{
    padding: 12px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header p {
    font-size: 28px;
}

a { 
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.links {
    text-decoration: none;
    display: flex;
    gap: 1em;
}

h1{
    font-size: 60px;
    display: block;
    font-weight: 200;
    text-align: center;
    margin-bottom: 64px;
}

