* {
        font-family: "Raleway";
}
img {
    width: 50%;
    min-width: none;
    height: auto;
}

@media(max-Width:1150px){
    .picText{
        flex-direction: column;
        align-items: center;
    }
}

.paragraph {
    display: flex;
    flex-direction: column;
}
.picText
{
    display: flex;
    gap: 3em;
    justify-content: center;
    max-width: 1224px;
    width: 90%;
    margin: auto;
}

.picText p 
{
    padding: 12px;
    font-size: 20px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.header p {
    font-size: 28px;
}

a { 
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.links {
    text-decoration: none;
    display: flex;
    gap: 1em;
}

h1{
    font-size: 60px;
    display: block;
    font-weight: 200;
    text-align: center;
    margin-bottom: 64px;
}

