*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";

}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3,), rgba(12,3,51,0.3,));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    flex-wrap: nowrap;
    width: 400px;
    font-weight: 300;
    font-size: 50px;
    color: #fff;
}

nav ul li {
    list-style: none;
    display: inline-block; 
    margin-left: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

 .content {
    text-align: center;

 }

 .content h1 {
    font-size: 160px;
    color: #ffffff;
    font-weight: 200;
    transition: 0.5s;
 }

 .content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
 }

 .content a {
    text-decoration: none;
    display: inline-block;
    color: #243157;
    background-color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    font-weight: 700;
 }

 .back-photo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
 }

 @media (min-aspect-ratio: 12/9){
    .back-photo{
        width: 100%;
        height: auto;
    }
 }
 @media (max-aspect-ratio: 12/9){
    .back-photo{
        width: auto;
        height: 100%;
    }
 }

 @media ( max-width:1200px){
    .content h1 {
        font-size: 90px;
    }
@media ( max-width: 400px)
{
    .content h1 {
        font-size: 50px;
    }
}

    nav .logo {
        font-size: 44px;
    }

    nav ul li a 
    {
        font-size: 20px
    }
 }

 @media (max-width: 800px)
 {
        nav ul li {
            visibility: hidden;
        }
 }

 .hamburger {
    display: block;
    width: 55px;
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
 }

 

 .hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
 }


 .mobile-nav {
   
    position: fixed;
    top: 0;
    left:100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 99;
    background-color: #242e4d;
    padding-top: 120px;
    transition: 0.4s;
 }

 .mobile-nav.is-active{
    left:0;
 }

 .mobile-nav a {
    display: block;
    text-align: center; 
    margin-bottom: 16px;
    padding:12px 16px;
    background-color: #3d4d7c;
    color: white;
    text-decoration: none;
 }

 .mobile-nav a:hover {
    background-color: #57658e;
 }

 @media( min-width:800px){
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
 }

 @media( max-width:832px)
 {
    .content h1 {
        font-size: 36px;
    }

    .content a {
       font-size: 16px;
    }
 }




